[submodule "externals/cpr"]
	path = externals/cpr
	url = https://github.com/libcpr/cpr.git
	branch = 1.9.x
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
